$enable-gradients: false;

$light: #FFFFFF;
$greylight: #eef4f7;
$grey: #6c757d;
$dark: #1A1D2A;

$purple: #9e38e7;
$green: #2CA58D;
$blue: #17A2B8; 
$yellow: #FFC107;
$red: #DC3545;

$primary: $purple; 
$secondary: $grey; 
$success: $green; 
$info: $blue;
$warning: $yellow; 
$danger: $red; 


// Maak je eigen kleurenmap
$custom-colors: (
	"light": $light,
	"greylight": $greylight,
	"grey": $grey,
	"dark": $dark,
	
	"purple": $purple,
	"green": $green,
	"blue": $blue,
	"yellow": $yellow,
	"red": $red,
	
	"primary": $primary,
	"secondary": $secondary,
	"success": $success,
	"info": $info,
	"warning": $warning,
	"danger": $danger,
);

// Minimale contrastverhouding voor WCAG 2.0
$min-contrast-ratio: 4.5 !default;

// Aangepaste licht/donker kleuren voor toegankelijkheid
$color-contrast-dark: $dark !default;
$color-contrast-light: $white !default;

// Speciale karakters die moeten worden ge-escaped in SVG
$escaped-characters: (
  ("<", "%3c"),
  (">", "%3e"),
  ("#", "%23"),
  ("(", "%28"),
  (")", "%29"),
) !default;

// Mergen van de aangepaste kleuren in de Bootstrap-kleurenmap
$theme-colors: map-merge($theme-colors, $custom-colors);

// Achtergrondkleuren
@each $key, $val in $custom-colors {
	.bg-#{$key} {
		background-color: #{$val} !important;
		color: if(lightness($val) > 50, $dark, $light);
	}
}

// Tekstkleuren
@each $key, $val in $custom-colors {
	.text-#{$key} {
		color: #{$val} !important;
	}
}

// Gradient, aangepast aan de UFO-kleuren
$gradient: linear-gradient(180deg, $primary 0%, $dark 100%);

:root {
  --bs-gradient: #{$gradient}; // Correcte interpolatie
}