// Zorg voor een duidelijke scheiding tussen dropdown-items
.dropdown-item:not(:last-child) {
	border-bottom: $dropdown-border-width solid $dropdown-border-color;
}
$dropdown-divider-margin-y: 0;

$dropdown-padding-y: 60px;

$dropdown-link-active-bg: #fff;


.dropdown-menu {
	box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
	border-radius: 0px !important;
	border: 0 !important;

	.dropdown-item {
		padding-left: 0;
		padding-right: 0;
	}
}