// Zorg voor een duidelijke scheiding tussen dropdown-items
.dropdown-item:not(:last-child) {
	border-bottom: $dropdown-border-width solid $dropdown-border-color;
}

// Optioneel: verwijder marges rond de divider
$dropdown-divider-margin-y: 0;

// Verwijder extra ruimte boven en onder de dropdown
$dropdown-padding-y: 0;

$dropdown-link-active-bg: #fff;


.dropdown-menu {
	padding: 0 15px 0 !important;
	box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	border: 0 !important;

	.dropdown-item {
		padding-left: 0;
		padding-right: 0;
	}
}