{% if total %}
	<p class="text-muted mb-3">
		{{ total }} resultaat{{ total == 1 ? '' : 'en' }} gevonden
	</p>
{% endif %}
{% if posts|length %}
	<div class="row">
		{% for item in posts %}
			<div class="col-lg-6 col-xxl-4 mb-4 fade-in-item visible">
				{% include "partials/tease-filter.twig"  %}
			</div>
		{% endfor %}
	</div>
	<div data-max-pages="{{ max_pages|e('html_attr') }}" hidden></div>
{% else %}
	<p>Geen resultaten gevonden.</p>
{% endif %}