{% if posts|length %}
	<div class="row">
		{% for item in posts %}
			<div class="col-12 fade-in-item visible">
				{# Probeer eerst tease-[post_type].twig, anders tease.twig #}
				{% include [
					'partials/tease-' ~ item.post_type ~ '.twig',
					'partials/tease.twig'
				] with { item: item } %}
			</div>
		{% endfor %}
	</div>
	<div data-max-pages="{{ max_pages|e('html_attr') }}" hidden></div>
{% else %}
	<p>Geen resultaten gevonden.</p>
{% endif %}

<div id="result-count" style="display: none;">{{ total }} resultaten gevonden</div>
{% if option_counts is defined %}
<div data-option-counts="{{ option_counts|json_encode }}" hidden></div>
{% endif %}
{% if date_bounds is defined %}
<div data-date-bounds="{{ date_bounds|json_encode }}" hidden></div>
{% endif %}