{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block content %}
	<section>
		<div class="container">
			<div class="text-center mb-5">
				<h2>{{ title }}</h2>
			</div>
			
			<div class="row">
				{% for item in posts %}
					<div class="col-md-6 col-xl-4 mb-4">
						{% include ['partials/tease-'~item.post_type~'.twig', 'partials/tease.twig'] %}
					</div>
				{% endfor %}
			</div>
		
			{% include 'partials/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
		</div>
	</section>
{% endblock %}