<header class="header d-flex align-items-center">
	<div class="container-fluid container-lg">
		<div class="row g-2">
			<div class="col d-flex align-items-center">
				<a class="header-brand" href="{{ site.url }}" rel="home">
					<span class="d-none">{{ site.name }}</span>
					<img height="26" src="{{ theme.link }}/assets/images/logo.svg" alt="logo">
				</a>
			</div>
			{% if headermenu %}
				<div class="col-auto d-none d-lg-flex align-items-center">
					{% include "components/menu.twig" with {'items': headermenu.get_items} %}
				</div>
			{% endif %}
		</div>
	</div>
</header>

{% if headermenu %}
	<!-- Hamburger menu button -->
	<button id="mobilemenubtn" class="d-lg-none">
		<div class="lines">
			<span></span>
			<span></span>
			<span></span>
		</div>
	</button>
	
	<!-- Mobile menu -->
	<nav class="mobilemenu" id="mobilemenu">
		<ul class="menu-items">
			{% include "components/menu.twig" with {'items': headermenu.get_items} %}
		</ul>
	</nav>
{% endif %}