{% extends "base.twig" %}

{% block content %}
	{% include 'stroken/hero.twig' %}
	{% if post.content %}
		{% set content_without_fullwidth_buttons = post.content|replace({
			'wp-block-button__width-100': '',
			'w-100': ''
		}) %}
		<section class="strook-content">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-10 col-lg-8">
						{{ heading(post.title, {
							level: 'h2',
							class: 'mb-5'
						}) }}
						{{ content_without_fullwidth_buttons }}
					</div>
				</div>
			</div>
		</section>
	{% endif %}
	{% include 'stroken.twig' %}
{% endblock %}
