{% extends "base.twig" %}

{% block content %}
	{% include 'stroken/hero.twig' %}
	{% if post.content %}
		<section class="strook-content">
			<div class="container">
				{{ post.content }}
			</div>
		</section>
	{% endif %}
	{% include 'stroken.twig' %}
{% endblock %}