{% set sectionno = 0 %}

{% for item in post.meta('stroken') %}
	{% set sectionno = sectionno + 1 %}

	{% set template = 'stroken/' ~ item.acf_fc_layout ~ '.twig' %}

	{% if template is not empty %}
		{% include template ignore missing %}
	{% else %}
		<h3>Onbekende layout: {{ item.acf_fc_layout }}</h3>
	{% endif %}
{% endfor %}