.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-align: center;
}

.icon__figure {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.icon__text {
    display: inline-block;
}

.icon--left {
    flex-direction: row;
}

.icon--right {
    flex-direction: row-reverse;
}

.icon--top {
    flex-direction: column;
}

.icon--bottom {
    flex-direction: column-reverse;
}

.icon--left .icon__text {
    margin-right: 0.5em;
}

.icon--right .icon__text {
    margin-left: 0.5em;
}

.icon--top .icon__text {
    margin-bottom: 0.5em;
}

.icon--bottom .icon__text {
    margin-top: 0.5em;
}

.icon svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: currentColor;
}
