select.btn {
	padding-right: 40px;
	background-image: url(../assets/images/chevron-down-orange.svg);

	&:hover,
	&:focus,
	&:active {
		background-image: url(../assets/images/chevron-down-white.svg);
	}
}

.btn {
	border-radius: 3px;
	display: inline-flex;
}

.btn.btn-lg {
	padding-left: 25px;
	padding-right: 25px;
}

.btn.btn-primary {
	color: #fff;

	&:hover,
	&:focus,
	&:active {
		color: #fff;
	}
}

.btn.btn-outline-primary {
	&:hover,
	&:focus,
	&:active {
		background-color: $primary;
		color: #fff;
	}
}

.btn.btn-outline-secondary {
	&:hover,
	&:focus,
	&:active {
		background-color: $secondary;
		color: #fff;
	}
}

.btn.btn-outline-light {

	&:hover,
	&:focus,
	&:active {
		color: $dark;
	}
}

.btn.js-scrollnextsection {
	padding: 0;
	width: 50px;
	height: 50px;
	border-width: 1px;
	justify-content: center;
	border-radius: 999px;
	i:first-child {
		margin: 0;
	}
}