select.btn {
	padding-right: 40px;
	background-image: url(../assets/images/chevron-down-orange.svg);

	&:hover,
	&:focus,
	&:active {
		background-image: url(../assets/images/chevron-down-white.svg);
	}
}

.btn {
	text-transform: uppercase;
}

.btn.btn-primary {
	&:hover,
	&:focus,
	&:active {

	}
}

.btn.btn-outline-primary {
	&:hover,
	&:focus,
	&:active {

	}
}

.btn.btn-outline-secondary {
	&:hover,
	&:focus,
	&:active {
		
	}
}

.btn.btn-outline-light {

	&:hover,
	&:focus,
	&:active {
		color: $dark;
	}
}

.btn.js-scrollnextsection {
	padding: 0;
	width: 50px;
	height: 50px;
	border-width: 1px;
	justify-content: center;
	border-radius: 999px;
	i:first-child {
		margin: 0;
	}
}