$header-height: 60px;
$header-height-lg: 110px;
$topbar-height: 30px;
$topbar-height-lg: 40px;

.topbar {
       height: $topbar-height;
       background: $light;
       font-size: .875rem;
}

body {
       &.header-transparent {
               .header {
                       background: transparent;
               }
       }

       &:not(.header-transparent) {
               .header {
                       .navbar-nav {
                               li {
                                       a {
                                               color: $dark;
                                               text-decoration: none;

                                               &:hover {
                                                       color: $primary;
                                               }
                                       }

                                       &.current-menu-parent>a:not(.btn),
                                       &.current-menu-item>a:not(.btn),
                                       &.current_page_item>a:not(.btn) {
                                               color: $primary;
                                       }
                               }
                       }
               }
       }

       .header {
               position: sticky;
               top: 0;
               width: 100%;
               height: $header-height;
               background: $light;
               z-index: 1000;
               overflow: visible;
               transition: opacity 0.3s $ease, transform 0.3s $ease, background 0.3s $ease;
               opacity: 1;
               transform: translateY(0);

                .navbar-nav {
                        gap: 20px;
                        flex-direction: row;

                        li {
                                a {
                                        color: #fff;
                                        text-decoration: none;
                                        display: inline-flex;
                                        align-items: center;
                                        gap: 6px;

                                        &:hover {
                                                color: $primary;
                                        }
                                }

                                &.current-menu-parent>a:not(.btn),
                                &.current-menu-item>a:not(.btn),
                                &.current_page_item>a:not(.btn) {
                                        color: $primary;
                                        text-decoration: underline;
                                        text-decoration-thickness: 2px;
                                        text-underline-offset: 8px;
                                }

                                .dropdown-menu a,
                                .dropdown-menu a:hover {
                                        text-decoration: none !important;
                                }
                        }
                }

                &.hidden {
                        transform: translateY(-100%);
                        opacity: 0;
                }

                &.visible {
                        transform: translateY(0);
                        opacity: 1;
                }

                &.scrolled {
                        background: $light !important;
                        box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.05);

                        .navbar-nav {
                                li {
                                        a {
                                                color: $dark;
                                                text-decoration: none;
                                                display: inline-flex;
                                                align-items: center;
                                                gap: 6px;

                                                &:hover {
                                                        color: $primary;
                                                }
                                        }

                                        &.current-menu-parent>a:not(.btn),
                                        &.current-menu-item>a:not(.btn),
                                        &.current_page_item>a:not(.btn) {
                                                color: $primary;
                                        }
                                }
                        }
                }
        }

}

@include media-breakpoint-up(lg) {
       .topbar {
               height: $topbar-height-lg;
       }

       body {
               .header {
                       height: $header-height-lg;

                       .header-brand {
                               img {
                                       height: 30px;
                               }
                       }
               }
       }
}
