// Breakpoint for mobile menu
$mobile-menu-breakpoint: 992px !default;

:root {
        --mobile-menu-breakpoint: #{$mobile-menu-breakpoint};
}

.mobile-only {
        @media (min-width: $mobile-menu-breakpoint) {
                display: none !important;
        }
}

.desktop-only {
        display: none !important;

        @media (min-width: $mobile-menu-breakpoint) {
                display: flex !important;
        }
}

/* Hamburger button styles */
#mobilemenubtn {
	position: fixed;
	top: 10px;
	right: 25px;
	z-index: 1100;
	cursor: pointer;
	background: $light;
	border: none;
	padding: 10px 8px;

	.lines {
		display: flex;
		flex-direction: column;
		gap: 5px;

		span {
			display: block;
			width: 25px;
			height: 3px;
			background-color: $dark;
			transition: transform 0.3s $ease, opacity 0.3s $ease;
		}
	}

	&.active .lines span:nth-child(1) {
		transform: rotate(45deg) translate(6px, 6px);
	}

	&.active .lines span:nth-child(2) {
		opacity: 0;
	}

	&.active .lines span:nth-child(3) {
		transform: rotate(-45deg) translate(5px, -5px);
	}
	
	&.active {
		transform: rotate(-90deg);
	}
}

/* Fullscreen menu styles */
.mobilemenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba($light, 0.95);
        z-index: 999;
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 0.5s $ease, opacity 0.5s $ease;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &.active {
                transform: translateX(0);
                opacity: 1;
        }

        .menu-items {
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                        margin: 10px 0;
                        justify-content: center !important;
                        a:not(.btn) {
                                color: $dark;
                                text-decoration: none;
                                transition: color 0.3s $ease;
                                @extend .h4;
                                margin: 0;
                                &:hover {
                                        color: $primary;
                                }
                        }
                }
        }

        .service-menu {
                margin-top: 20px;
                padding-top: 10px;
                border-top: 1px solid rgba($dark, .1);
        }
}

@media (min-width: $mobile-menu-breakpoint) {
        #mobilemenubtn,
        .mobilemenu {
                display: none !important;
        }
}
