.bg-transparent {
	.tease .card {
		background: $greylight;
	}
}
.tease, article.product {
	display: block;
	text-decoration: none;
	font-size: 16px;
	line-height: 1.25;
	
	i {
		margin-top: 10px;
		font-size: 32px;
		transition: .2s $ease;
	}
	img {
		transition: .2s $ease;
	}
	h3 {
		transition: .2s $ease;
	}
	a {
		text-decoration: none;
	}
	&[href] {
		text-decoration: none;
		figure {
			overflow: hidden;
			img {
				transform: scale(1.0);
				transition: .15s $ease;
			}
		}
		.card {
			transition: .2s $ease;
		}
		&:hover {
			figure {
				img {
					transform: scale(1.05);
				}
			}
			h3 {
				color: $primary;
			}
			.card {
				box-shadow: 0px 5px 25px rgba($dark, .15);
			}
			i {
				transform: translateX(15px);
				color: $primary;
			}
			img {
				opacity: .6
			}
		}
	}

}

@include media-breakpoint-down(md) {
	
}