.accordion {
	border-bottom: 1px solid $dark;

	.accordion-item {
		padding: 10px 0;
		border-top: 1px solid $dark;

		.accordion-header {
			margin: 0;

			.accordion-button {
				text-align: left;
				padding: 0;
				background: transparent;
				border: 0;
				width: 100%;
				font-weight: inherit;
				font-size: inherit;
				.accordion-title {
					display: flex;
					justify-content: space-between;
					align-items: start;

					.col-auto {
						min-width: 25px;
					}
				}

				h1,
				h2,
				h3,
				h4,
				h5,
				h6 {
					margin: 0;
				}

                                .accordion-icon {
                                        display: inline-flex;
                                        min-width: 1em;
                                        text-align: center;
                                }

                                .accordion-icon__wrapper svg {
                                        transition: transform 0.3s ease;
                                }

                                &[aria-expanded="true"] .accordion-icon--chevron .accordion-icon__wrapper svg {
                                        transform: rotate(180deg);
                                }

                                .accordion-icon--minus {
                                        display: none;
                                }

                                &[aria-expanded="true"] .accordion-icon--plus {
                                        display: none;
                                }

                                &[aria-expanded="true"] .accordion-icon--minus {
                                        display: inline-flex;
                                }
                        }
                }
		.accordion-body {
			padding-top: 4px;
		}
	}
}
