{% extends "base.twig" %}

{% block content %}

<div class="product">
	<section class="bg-transparent">
		<div class="container">
			{% do action('woocommerce_before_single_product') %}

			<article itemscope itemtype="https://schema.org/Product" class="single-product-details {{ post.class }}">

				<div class="entry-images">
					{% do action('woocommerce_before_single_product_summary') %}

					<!-- <img src="{{ post.thumbnail.src('shop_single') }}" /> -->
				</div>

				<div class="summary entry-summary">
					{% do action('woocommerce_single_product_summary') %}
				</div>

				{% do action('woocommerce_after_single_product_summary') %}

				<meta itemprop="url" content="{{ post.link }}" />

			</article>
		</div>
	</section>

	{% if related_products is not empty %}
	<section class="bg-transparent related-products">
		<div class="container">
			<h2 class="mb-4">{{ __('Gerelateerde Producten', 'woocommerce') }}</h2>
			<div class="row w-100">
				{% for post in related_products %}
				<div class="col-sm-6 col-lg-4 col-xxl-3">
					{% include "woo/partials/tease-product.twig" with { post: post } %}
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	{% endif %}

	{% do action('woocommerce_after_single_product') %}
</div>

{% endblock %}